:root {
    --dark: #f3f0e7; /* Soft Cream */
    --darkSoft: #e0d8c1; /* Light Sand */
    --light: #3f2f1f; /* Dark Espresso */
    --lightSoft: #6c4f4f; /* Soft Brown */
}

/* CHRISTMAS THEME */
/* 
:root {
    --dark: #2B2E3B;
    --darkSoft: #4E535D;
    --light: #F7F7F7;
    --lightSoft: #E5E8EC;

    --dark: #034732;      
    --darkSoft: #3B6B48;  
    --light: #FFFBF1;     
    --lightSoft: #E63946; 
} */

*{
    margin: 0;
    box-sizing: border-box; /* поэтому по дефолту нет никаких полей где-либо в тексте и приходится их задавать с помощью line-height */
}

body{
    background: var(--dark);
    color: var(--light);
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
}

body.light{
    background: var(--light);
    color: var(--dark);   
}

h1,
h2,
h3{
    font-family: 'Playfair Display', serif;
}

h1{
    font-style: italic;
}

a{
    color: inherit;
    text-decoration: none;
}



.container{
    max-width: 1366px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    justify-content: space-between;
}

/* NAVBAR START */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.25rem; /* 64px */
    font-size: 1.5rem;
    position: -webkit-sticky;
    /* top: 0; */
    /* background-color: var(--dark); */
    padding: 0 1.875rem; /* 30px */
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    max-width: 100%;
    gap: 20px;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 20px;
}

.links a:hover{
    color: var(--darkSoft);
}
body.light .links a:hover{
    color: var(--lightSoft);
}

/* .searchButton{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--darkSoft);
    color: var(--lightSoft);
    padding: 5px;
    border-radius: 10px;
} */

.toggle{
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--darkSoft);
    border: 0.5px solid var(--lightSoft);
    position: relative;
    padding: 5px;
}

.ball{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: var(--lightSoft);
    border: 1px solid var(--darkSoft);
}

.light .ball{
    left: unset;
    right: 0;
}

@media (max-width: 40rem){
    .navbar{
        height: 3.125rem;
        padding: 1rem;
        justify-content: center;
    }

    .links{
        font-size: 2rem;
    }
}

/* NAVBAR END */

/* FOOTER START */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4rem;
    font-size: 0.8rem;
}

.social{
    display: flex;
    gap: 10px;
}

/* FOOTER END */

/* LIST START */

.listItem{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
    /* border: 1px solid var(--dark); */
}

.listItemImage{
    width: 5rem;
    height: 5rem;
    /* border-radius: 50%; */
    object-fit: cover;
}

.listItemTexts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listItemDesc {
    font-size: 1.25rem;
}

.listItemDetail{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
}
/* 
.listItemAvatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
} */

.listItemCategories{
    display: flex;
    gap: 10px;
}

.listItemCategory{
    padding: 5px;
    /* border-radius: 5px; */
    background-color: var(--darkSoft);
    color: var(--light);
    font-family: 'Garamond', serif;
    font-style: italic;
    font-size: 1rem;
}

body.light .listItemCategory{
    background-color: var(--lightSoft);
    color: var(--dark);
}

.pagination{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    margin-top: 80px;
    margin-bottom: 30px;
}

.page-item{
    /* border: 1px solid var(--light); */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 5px; */
}

.listItemTitle:hover{
    color: var(--darkSoft);
}

body.light .listItemTitle:hover{
    color: var(--lightSoft);
}

.listItemCategory:hover{
    background-color: var(--light);
    color: var(--dark)
}

body.light .listItemCategory:hover{
    background-color: var(--dark);
    color: var(--light)
}

/* LIST END */

/* CATEGORIES START */

.tag-cloud {
    text-align: center;
    margin: 20px 0;
}

.tag-cloud-item {
    margin: 0 5px;
    padding: 3px 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}

body .tag-cloud-item {
    color: var(--light);
}

body .tag-cloud-item:hover {
    color: var(--darkSoft);
}

body.light .tag-cloud-item {
    color: var(--dark);
}

body.light .tag-cloud-item:hover {
    color: var(--lightSoft);
}

/* CATEGORIES END */

/* ABOUT START */

#aboutContainer{
    max-height: 100dvh;
    max-width: 48rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: auto;
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    justify-content: space-between; 
}

.aboutHeader {
    width: 100%;
    margin: 0 0 3rem 0;
}

.aboutHeader h1 {
    font-style: italic;
    font-size: 3rem;
    text-align: center;
}

.aboutRow{
    max-width: 95%; /* Makes sure .aboutRow is full width of .container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutHeadshot {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}

#headshot {
    display: flex;
    align-items: center;
    max-width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

#path0 {
    fill: #3f2f1f;
}

body.light #path0 {
    fill: #f3f0e7;
}

.aboutContent p,
.aboutContent h1,
.aboutContent h2,
.aboutContent h3{
    margin: 1.25rem 0;
}

.aboutContent {
    flex:4;
    font-size: 1.3rem;
    line-height: 2rem;
}

.aboutContent a{
    font-style: italic;
    text-decoration: underline;
}

.aboutContent a:hover{
    color: var(--darkSoft);
}
body.light .aboutContent a:hover{
    color: var(--lightSoft);
}

@media (max-width: 40rem){
    .aboutHeader h1 {
        font-style: italic;
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    
    .aboutRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .aboutContent p {
        max-width: 18.75rem; /*300 px*/
    }
}

/* ABOUT END */

/* SINGLE START */

.singleHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.singleHeadTexts{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 20%;
    max-width: 80%;
}

.singleheadTitle{
    font-size: 3rem;
}

.singleheadTitle h1{
    font-style: italic;
}

.singleHeadDesc{
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
}

.singleHeadDetail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.singleAvatar{
    max-width: 3.125rem; /* 50px */
    max-height: 3.125rem; 
    border-radius: 50%;
    object-fit: cover;
}

/* .singleCategory{
    padding: 5px;
    border-radius: 5px;
    background-color: var(--darkSoft);
    color: var(--light);
    font-size: 0.8rem;
} */

.singleCategory{
    padding: 5px;
    /* border-radius: 5px; */
    background-color: var(--darkSoft);
    color: var(--light);
    font-family: 'Garamond', serif;
    font-style: italic;
    font-size: 1rem;
}

.singleCategory:hover{
    background-color: var(--lightSoft);
    color: var(--dark);
}

body.light .singleCategory{
    background-color: var(--lightSoft);
    color: var(--dark);
}

body.light .singleCategory:hover{
    background-color: var(--darkSoft);
    color: var(--light);
}

.singleHeadImage{
    flex:1;
    max-height: 21.875rem; /* 350px */
    object-fit: cover;
}

.singleBottom{
    display: flex;
    justify-content: space-between;
    gap: 3.125rem; /* 50px */
    margin-top: 3.125rem;
}

.singleContent{
    flex:3;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-left: 20%;
    max-width: 80%;
}

.singleContent p,
.singleContent h1,
.singleContent h2,
.singleContent h3{
    margin: 1.25rem 0rem;
}

.singleContent img{
    width: 100%;
    object-fit: cover;
}

.singleContent pre{
    width: 100%;
    overflow-x: scroll;
    padding: 1.25rem;
}

.singleContent a{
    font-style: italic;
    text-decoration: underline;
}

.singleContent a:hover{
    color: var(--darkSoft);
}
body.light .singleContent a:hover{
    color: var(--lightSoft);
}

.singleRightBar{
    flex:1;
}

/* SINGLE END */

/* GALLERY START */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

@media (max-width: 24.375rem){
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
}
  
.gallery-item {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Ensures a 1:1 aspect ratio (square) */
    overflow: hidden;
}
  
.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
  
/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
  
.lightbox-content {
    display: flex;
    max-width: 90%;
    max-height: 90%;
    gap: 20px;
    align-items: center;
}

@media (max-width: 40rem){
    .lightbox-content{
        flex-direction: column;
    }
}
  
.lightbox img {
    max-width: 60%;
    max-height: 80vh;
    object-fit: contain;
    justify-content: center;
}
  
#lightbox-commentRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;
}

#lightbox-date{
    font-style: italic;
    padding: 0.25rem 0;
}

#lightbox-location{
    padding: 0.25rem 0;
}

/* #lightbox-location{
    padding: 0.5rem 0;
} */

.lightbox-comment {
    color: white;
    max-width: 40%;
}
  
.lightbox-comment h2 {
    margin-top: 0;
}
  
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    cursor: pointer;
}

.lightbox .prev, .lightbox .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.lightbox .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
  
.lightbox .next {
    right: 0;
    border-radius: 0 3px 3px 0;
}
  
.lightbox .prev:hover, .lightbox .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  

/* GALLERY END */

/* MEDIA QUERIES START */

/* 1920px */


/* 1536px →1440*/ 

@media (max-width: 96rem){
    .container{
        max-width: 85.375rem;
    }
}

/* 1366px  →1280*/

@media (max-width: 85.375rem){
    .container{
        max-width: 80rem;
    }
}

/* 1024px */

@media (max-width: 64rem){
    .container{
        max-width: 48rem;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
    .links{
        font-size: 1rem;
    }
}

/* 768px */

@media (max-width: 48rem){
    .container{
        max-width: 40rem;
    }

    .listItemImage{
        display: none;
    }

    .singleRightBar {
        display: none;
    }

    .searchButton span{
        display: none;
    }
}

/* 640px */

@media (max-width: 40rem){
    .container{
        max-width: 29rem;
    }
}

/* 375px */


/* MEDIA QUERIES END */